<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>养生指南</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/common.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/body_guide.css') }}" />
    <script src="{{ url_for('static', filename= 'js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename= 'js/body_guide.js') }}" type="module"></script>
  </head>
  <body>
    <!-- 头部内容 -->
    <div id="page-header">
      <h1>Welcome to <img src="{{ url_for('static', filename= 'img/login/logo.png') }}" width="100px" /></h1>
    </div>

    <!-- 导航条内容 -->

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('diagnose_page') }}">不帕诊断 </a></li>
            <li class="active"><a href="javascript:;">养生指南</a></li>
            <li><a href="{{ url_for('handbook_page') }}">使用手册</a></li>
            <li><a href="{{ url_for('about_us_page') }}">关于我们</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a
                href="#"
                class="dropdown-toggle"
                data-toggle="dropdown"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                >用户 <b><em id="bp-user">未登录</em></b> <span class="caret"></span
              ></a>
              <ul class="dropdown-menu">
                <li><a href="{{ url_for('change_username_page') }}">修改用户名</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{{ url_for('change_password_page') }}">修改密码</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- 正文内容 -->
    <div id="content">
      <!-- 常用的锻炼 -->
      <div class="left">
        <h1>常用的锻炼</h1>
        <p>
          和帕金森病的战斗是一个长期的过程,不仅需要医学上的治疗,患者的自我康复锻炼也可以有效的改善帕金森症状。
        </p>
        <h2>放松身心</h2>
        <p>
          在一个安静且灯光偏暗的地点,将身体仰卧,闭上眼睛,开始深而缓慢地呼吸。腹部在吸气时鼓起,并想象气向上到达了头顶,在呼气时腹部放松,并想象气从头顶顺流而下,经过背部到达脚底,放松全身肌肉,反复5-15分钟。
        </p>
        <h2>语音障碍锻炼</h2>
        <p>
          每天大声朗读锻炼,最好是朗读诗歌,诗歌有抑扬顿挫的旋律,读起来郎郎上口,既可以治疗语言障碍,又可以培养情操。每天唱歌练习,选自己喜欢的歌曲大声唱出来,还可以锻炼肺活量,有利于改善说话底气不足的感觉。（当然可以用不帕对自己的语音障碍进行初步的诊断）
        </p>
        <h2>面部锻炼</h2>
        <p>
          帕金森患者经常有面部肌肉僵硬、出现面具脸的情况,因此,需要做一些面部动作来缓解症状,例如:皱眉动作、鼓腮、露齿和吹哨动作、对着镜子做鬼脸等。（当然可以用不帕对自己的面部障碍进行初步的诊断）
        </p>
        <h2>头颈锻炼</h2>
        <p>
          帕金森患者的颈部往往呈前倾姿势,且僵硬,症状很容易加重,表现为驼背日益明显。应经常做头颈部上下、左右、前后运动,每次持续5秒钟。
        </p>
        <h2>腰部锻炼</h2>
        <p>
          双脚分开站立,左手叉腰,右手高举过头,身体往左弯,保持5秒,反之亦然；双手抱臂举过头顶,左右连续转动；床上平躺,双手抱住双膝,让脸尽量靠近膝盖骨,以上保持10秒钟,各项动作每天做5遍。
        </p>
        <h2>手部锻炼</h2>
        <p>
          受肌肉僵直的影响,导致手部关节手张开、握拳困难。针对这个情况,患者应尽量伸直手掌指关节,展平手掌,把一只手的手指往后压,频繁做握拳动作。
        </p>
        <h2>上肢及肩部锻炼---</h2>
        <p>
          双手在背部十指交叉,向外推,同时挺胸收腹,或者双手叉腰,做耸肩动作,再尽量下垂,速度保持均匀,反复运动,重复5-10遍。
        </p>
        <h2>下肢锻炼</h2>
        <p>
          背部紧贴墙壁站立,做原地高抬腿的踏步动作,连续20次；手扶墙,深蹲20次；盘腿坐于地上,用手向下压膝部,每次5秒,持续5-10次。
        </p>
        <h2>平衡锻炼</h2>
        <p>
          帕金森患者在行走时快步前冲,遇到障碍物突然停步容易跌倒,所以需要做一些平衡锻炼来改善。双脚分开站立,脚保证不动,身体向前后左右移动,努力保持平衡。一天多做几组,可以有效提高患者的平衡能力。
        </p>
        <h2>体力锻炼</h2>
        <p>
          有规律地进行一些自己感兴趣的、力所能及的运动,如太极拳、骑自行车、步行等,能够增加心肺耐力,减少由于肢体失用而带来的各种功能残疾。
          帕金森病虽然可怕,但是并非不治之症,患者调整好心态,积极应对治疗,配合良好的康复锻炼,是可以恢复正常人的生活水平的。
        </p>
      </div>
      <!-- 饮食 -->
      <div class="right">
        <h1>饮食养生</h1>
        <p>
          帕金森病是一种以静止性震颤、肌肉强直和运动迟缓为主要临床表现的疾病,发病机理目前尚不明确,是一种老年人常见的运动障碍疾病。尽管帕金森病对饮食没有特殊要求,但饮食养生对该病有着不可低估的作用,且可长期使用。尤其对老年人,因其多有五脏衰弱,气血耗损,加之脾胃运化功能减弱,故配合饮食调治易取得用药物所难获及的功效。中医认为,针对帕金森病的药膳,亦当从滋补肝肾、益气养血等方面入手。
        </p>
        <h2>饮食习惯</h2>
        <p>
          患者在日常饮食中应在轻松的环境和气氛中进餐。在进餐时可以适当的听一些轻音乐,因为这对促进食欲有所帮助。患有帕金森的患者在日常饮食中切忌勉强自己一餐进食很多食物。帕金森患者在饮食上可以每天安排3个正餐,2-3个加餐,并且正餐的份量不宜多,加餐中选择碳水化合物为主的小吃,如糕点、曲奇饼、饼干,食物放在容易拿到的位置。
        </p>
        <h2>适量饮水或饮茶</h2>
        <p>
          很多患者因为喝水太少的原因,会出现口干、口渴、眼干的症状。患者可以尝试睡前、清晨喝一杯温开水,平时养成多喝水的习惯来改善这些状况。
        </p>
        <p>同时,饮用一些滋补肝肾的茶饮也是不错的选择；比如:</p>
        <p>1.乌梅茶:乌梅5克,绿茶2克。每天3杯,重在养肝柔筋。</p>
        <p>2.天麻茶:天麻5克,绿茶2克。每天3杯,重在熄风止颤。</p>
        <h2>选择多样性的食物</h2>
        <p>
          食物中含有适量的维生素、矿物质、碳水化合物、脂肪和蛋白质。所以多样化的食物均衡搭配,才能满足我们身体对各种营养的需要。每天的食物可以包括五谷类、蔬菜瓜果类、奶类、肉类等,保证我们的身体有足够的营养。特别是蔬菜水果类,比如西兰花、菠菜等不仅有丰富的膳食纤维,更有一定的通便效果。
        </p>
        <h2>少吃脂肪含量高的食物</h2>
        <p>
          尽量少吃肥肉、荤油和动物内脏,选择用植物油、橄榄油、玉米油等烹调食物,有助于防止由于饱和脂肪和胆固醇摄入过多给身体带来的不良影响。饮食中过高的脂肪也会延迟药物的吸收,影响药效,所以患者们多选择精瘦的禽肉、鱼肉或其他瘦肉。
        </p>
        <h2>五谷杂粮</h2>
        <p>
          它们含有复杂的碳水化合物和粗纤维,以及微量矿物质和维生素。全麦面包做的面包布丁,以及米饭布丁都是不错的选择。酱汁、麦片和奶油可以倒在全麦面包上,使其湿润,更容易咀嚼。
        </p>
        <h3>适量摄入乳制品</h3>
        <p>
          牛奶、酸奶、奶油和布丁都很容易咀嚼,富含蛋白质、钙和维生素B。你可以在锅里加入新鲜的牛奶,煮熟的谷类和汤。
        </p>
        <p>
          同样需要注意的是,一些使用左旋多巴的病人发现,牛奶蛋白对左旋多巴的吸收有较大的影响。如果是这样的话,考虑牛奶的替代品,比如杏仁,大豆,或椰子奶和纯素奶酪。　
        </p>
        <p>患有帕金森的患者在平时对进食量的增加应循序渐进,不可操之过急。</p>
      </div>
    </div>
  </body>
</html>
